<div class="list-group list-group-flush py-3 d-none d-md-block">
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'dossier' %} active{% endif %}"
       href="{% url 'staff_scholar_dossier' user_obj.id %}">Сводка</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'apply' %} active{% endif %}"
       href="{% url 'staff_profile_detail' user_obj.id %}">Анкета</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'testing' %} active{% endif %}"
       href="{% url 'staff_testing_list_for_user' user_obj.id %}">Тестирование</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'motivation_letter' %} active{% endif %}"
       href="{% url 'staff_letter_detail' user_obj.id %}">Мотивационное письмо</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'my_video_page' %} active{% endif %}"
       href="{% url 'staff_video_detail' user_obj.id %}">Видеовизитка</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'interview' %} active{% endif %}"
       href="{% url 'interview_detail' user_obj.id %}">Собеседование</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'documents_dashboard' %} active{% endif %}"
       href="{% url 'staff_documents_detail' user_obj.id %}">Документы</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'documents_templates' %} active{% endif %}"
       href="{% url 'staff_docs_templates' user_obj.id %}">Шаблоны</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'study' %} active{% endif %}"
       href="{% url 'staff_study_detail' user_obj.id %}">Моя учёба</a>
    <a class="list-group-item list-group-item-action d-flex align-items-center {% if active == 'notes' %} active{% endif %}"
       href="{% url 'staff_notes' user_obj.id %}">Заметки</a>
</div>

{% if send_notification_form %}
    <div class="d-none d-md-block px-3 pb-3">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h6 class="mb-3">Связь с участником</h6>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="send_notification">

                    <div class="mb-2">
                        {{ send_notification_form.message }}
                        {% if send_notification_form.message.errors %}
                            <div class="text-danger small mt-1">
                                {{ send_notification_form.message.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary w-100" name="send_notification" >
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}