Django>=4.2
psycopg2-binary
python-dotenv
gunicorn
pyTelegramBotAPI
requests
django-formtools
django-widget-tweaks
openai>=1.52.0
python-magic
Pillow
pydantic
requests
jinja2
num2words
docxtpl
openpyxl