{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block title %}Подключите Telegram{% endblock %}
{% block heading %}Подключите Telegram{% endblock %}

{% block step %}
    <p class="text-center text-muted mb-4">
        Чтобы продолжить, пожалуйста, привяжите ваш аккаунт Telegram.
    </p>
    <div class="text-center mb-4 p-4 bg-primary bg-opacity-10 border border-primary rounded">
        <p class="fw-medium text-primary mb-2">Инструкция:</p>
        <ol class="list-group list-group-numbered list-group-flush text-start text-dark">
            <li class="list-group-item border-0 bg-transparent">Откройте Telegram и перейдите по этой ссылке:</li>
                <a href="{{ telegram_bot_link }}" target="_blank" class="btn btn-outline-primary btn-lg w-100 my-3">
                    Открыть Telegram-бота
                </a>
            <li class="list-group-item border-0 bg-transparent">Нажмите кнопку "Начать" в чате с ботом.</li>
            <li class="list-group-item border-0 bg-transparent">Бот попросит вас поделиться номером телефона.</li>
            <li class="list-group-item border-0 bg-transparent">Вернитесь на эту страницу и нажмите "Продолжить".</li>
        </ol>
    </div>

    {% if error_message %}
        <div class="alert alert-danger text-center mb-4" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <form method="post" class="mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary w-100">
            Продолжить (Я взаимодействовал с ботом)
        </button>
    </form>

    <div class="text-center">
        <p class="text-muted">Нет Telegram или не хотите его использовать?</p>
        <a href="{% url 'skip_telegram' %}" class="btn btn-outline-primary">Пропустить Telegram и подтвердить номер по
            звонку</a>
    </div>
{% endblock %}
