{% extends "core/base.html" %}

{% block title %}Активация ожидает{% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Активация ожидает</h1>
    <p class="text-center lead">Мы отправили вам ссылку для активации в Telegram.</p>
    <p class="text-center">Пожалуйста, перейдите по ней, нажмите /start и поделитесь своим номером телефона.</p>
    <p class="text-center">Как только вы это сделаете, ваш аккаунт будет активирован, и вы сможете войти на сайт.</p>
    <div class="text-center mt-4">
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Перейти к странице входа</a>
    </div>
{% endblock %}