{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Подтвердите номер телефона{% endblock %}
{% block heading %}Введите код из звонка{% endblock %}

{% block content %}
    <p class="text-center text-muted mb-4">
        Мы позвонили на номер <span class="fw-semibold">{{ phone_number }}</span> и продиктовали 6-значный код.
        Пожалуйста, введите его ниже.
    </p>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.code.id_for_label }}" class="form-label">{{ form.code.label }}</label>
            {{ form.code|add_class:"form-control" }}
            {% if form.code.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.code.errors.0 }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary w-100">
            Подтвердить номер
        </button>
    </form>

    {% if phone_code_expired %}
        <p class="mt-4 text-center text-danger">Срок действия кода истек или код не был отправлен.</p>
        <div class="mt-2 text-center">
            <a href="{% url 'resend_phone_code' %}" class="btn btn-link">Отправить код повторно (позвонить)</a>
        </div>
    {% endif %}
{% endblock %}
